@{
    ViewData["Title"] = "Web Service";
}
<h2>Cek Web Service</h2>
<p>&nbsp;</p>
<p>Silakan download hasilnya pada link berikut: <a asp-action="Unduh" asp-route-id="@ViewData["iddtws"]">Unduh</a></p>